<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- bin/estate-graph-drain, copied to ~/.estate/bin: launchd cannot run /bin/sh under ~/Documents (TCC). -->
<plist version="1.0"><dict>
  <key>Label</key><string>ai.estate.graph-drain</string>
  <key>ProgramArguments</key><array>
    <string>${HOME}/.estate/bin/estate-graph-drain</string>
  </array>
  <key>StartInterval</key><integer>600</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>${HOME}/.estate/graph-drain.out.log</string>
  <key>StandardErrorPath</key><string>${HOME}/.estate/graph-drain.err.log</string>
</dict></plist>
